<mat-form-field appearance="outline" class="w-full">
    <input type="text" matInput [placeholder]="placeholder" [formControl]="inputControl" [matAutocomplete]="auto" />

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">

        <mat-option [value]="null">{{ 'common.without' | transloco }}</mat-option>

        <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option.id">
            {{ option.label }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>